/* Eliminamos los márgenes predeterminados del body y html */
body, html {
    margin: 0;
}

.form-container {
    background-color: #3B82F6;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 800px;
    max-height: 530px;
    flex-grow: 1; /* El contenedor crecerá para ocupar todo el espacio disponible */
    margin: 60px 20px 20px; /* Añadido margen superior de 60px y se mantiene el margen derecho e inferior de 20px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    flex-direction: column;
    padding: 25px; 
    overflow: auto;
}

.container h1 {
    color: #0B0A07;
    font-size: 36px;
    text-align: center; 
    margin-bottom: 20px; 
}

.container div {
    margin-bottom: 20px;
}

.container label {
    font-size: 16px;
    color: #0B0A07; 
}

.container input,
.container select {
    width: calc(100% - 10px); 
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.container input[type="submit"] {
    height: 40px;
    width: calc(100% - 10px); 
    margin-top: 5px; 
    background-color: rgb(0, 123, 255);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-bar {
    background-color: #212529; 
    width: 100%; 
    position: fixed; 
    top: 0;
    display: flex;
    justify-content: center; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #212529;
}

.active {
    background-color: #969696;
}
