.container div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container label {
    width: 120px;
    font-size: 14px;
    color: #EFF6E0;
    margin-right: 10px;
}

.container input,
.container select {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container input[type="submit"] {
    background-color: rgb(0, 123, 255);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.container label {
    display: block;
    width: auto;
    margin-right: 10px;
}
