body {
    background-color: #f8f9fa; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.centered-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    overflow-x: auto; /* Agregamos un scroll horizontal si la tabla es muy grande */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #dee2e6;
}

table th {
    background-color: #f8f9fa; 
    font-weight: bold;
    text-align: left;
}
