body {
    background-color: #3B82F6; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.centered-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    background-color: #F2F4F3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    overflow-x: auto; 
    margin: 110px auto 10px;
    max-width: calc(100% - 20px); /* Para evitar que el contenedor sea más ancho que el viewport */
}

table {
    width: max-content; /* Para que la tabla tenga el ancho de su contenido */
    min-width: 100%; /* Para asegurar que la tabla ocupe todo el ancho del contenedor */
}

h1 {
    color: #0B0A07;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #dee2e6;
}

table th {
    background-color: #f8f9fa; 
    font-weight: bold;
    text-align: left;
}

.nav-bar {
    background-color: #212529; 
    width: 100%; 
    position: fixed; 
    top: 0;
    display: flex;
    justify-content: center; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #212529;
}

.active {
    background-color: #969696;
}